{% extends 'base.html' %}
{% block contents %}
<br>
<div class="container" style="padding-top:100px;">
    <div class="card" >
        <div class="card-body">

                <h5 class="card-title">{{details.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{details.author}} - {{details.pub_date}}</h6>
                <hr>
                <h3>
                    모집 부문 : 
                    <small clsss="text-muted">{{details.job_type}}</small>
                </h3>

                <table class="table table-hover">
                    <thread>
                        <tr>
                            <th scope="col">모집 조건</th>
                            <th scope="col">성별</th>
                            <th scope="col">나이</th>
                            <th scope="col">학력</th>
                            <th scope="col">필요조건</th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr class="table-active">
                            <th scope="row"> - </th>
                            <td>{{details.gender}}</td>
                            <td>{{details.age}}</td>
                            <td>{{details.edu}}</td>
                            <td>{{details.condition}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="card bg-light mb-3 wldnjs" style="width: 40%; display: inline-block; margin : 50px;">
                        <div class="card-header">근무조건</div>
                        <div class="card-body">
                          <h6 class="card-title">근무요일 :
                                <p class="card-text" style="display: inline">{{details.userdate1}}~{{details.userdate2}}</p>
                          </h6>
                          <h6 class="card-title">근무시간 :
                                <p class="card-text" style="display: inline">{{details.time1}} ~ {{details.time2}}</p>
                          </h6>
                          <h6 class="card-title">근무지역 :
                                <p class="card-text" style="display: inline">{{details.area}}</p>
                          </h6>
                          <h6 class="card-title">급여 :
                                <p class="card-text" style="display: inline">{{details.pay}}</p>
                          </h6>
                          <h6 class="card-title">우대사항 :
                                <p class="card-text" style="display: inline">{{details.plus}}</p>
                          </h6>
                    </div>
                </div>  

                <div class="card border-primary mb-3 wldnjs" style="width: 40%; display: inline-block; margin : 50px;">
                    <div class="card-header">연락처</div>
                    <div class="card-body">
                        <h6 class="card-title">이메일 :
                            <p class="card-text" style="display: inline">{{details.email}}</p>
                        </h6>
                        <h6 class="card-title">개인 연락처 :
                                <p class="card-text" style="display: inline">{{details.call}}</p>
                        </h6>
                        <h6 class="card-title"> &nbsp;&nbsp;
                                <p class="card-text" style="display: inline"></p>
                        </h6>
                        <h6 class="card-title"> &nbsp;&nbsp;
                                <p class="card-text" style="display: inline"></p>
                        </h6>
                        <h6 class="card-title"> &nbsp;&nbsp;
                                <p class="card-text" style="display: inline"></p>
                        </h6>
                    </div>
                </div>
                <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">기타사항</h4>
                          <p class="card-text">{{details.etc}}</p>
                    </div>
                </div>
                
                <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                          <h4 class="card-title">모집 마감일</h4>
                          <p class="card-text">{{details.enddate}}</p>
                    </div>
                </div>

                <p class="card-text">{{details.body}}</p>
                <p class="card-text">{{details.likes}}</p>
            </table>








        <li style="list-style:none;padding-left:0px;">
            <form action="{% url 'post_like' details.id%}" method="POST">
                {%csrf_token%}
                <button type="submit" value="Like" class="btn btn-link"><i class="fas fa-heart"></i></button>
            </form>

            <p>좋아요 {{details.like_count}}개</p>
            {%for like_user in details.like_user_set.all%}
                <p>{{like_user.username}}</p>
            {% endfor %}
        </li>
        {% if details.author == user %}
        <a href="{% url 'delete' details.id%}" class="card-link"> 삭제하기 </a>
        <a href="{% url 'update' details.id%}" class="card-link"> 수정하기 </a>
        {% endif %}
        </div>
    </div>
</div>

<div class='container' style = 'text-align: center'>
    <h2><strong>Comments</strong></h2>
    {% for comment in details.comments.all %}
        <span>글쓴날짜</span>{{comment.created_date}}<br>
        <span>글쓴이</span><strong>{{comment.comment_author}}</strong><br>
        <span>글쓴내용</span><p>{{comment.comment_contents}}</p>
    {% if details.author == user %}
     <a href = "{% url 'comment_delete' details.id comment.id %}"> delete </a><br>
    {% endif %}
    {% empty %}
        <p>No comments here yet </p>
    {% endfor %}
    {% if user.is_authenticated %}
    <h2><strong>Create Comments</strong></h2>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="comment_author" placeholder="이름" ><br><br>
            <textarea name="comment_contents" placeholder="댓글내용"></textarea><br>
            <button type="submit">등록</button>
        </form>
</div>
{% endif%}
</div>

    <br>
    <div class="container">
        <br>
        <button type="button" class="btn btn-dark"><a href="{% url 'home' %}"  style="color:white;" > 홈으로 가기 </a></button>
    </div>

{%endblock%}