{% extends 'base.html'%}
{% load static %}
{% block contents %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section id="title">

        <div class="col-lg-6">
            <img class="title-image" src="{% static 'img/logo.png' %}">
        </div>
        {% if error %}
        <p style="color:red;">{{error}}</p>
        {%endif%}
        <button type="button" class="btn btn-dark"><a href="{% url 'new' %}"  style="color:black;" > New Post </a></button>
    </section>
<div class="container">                 
    <form id="form-submit" action="{% url 'search' %}" method="get">

        <div class="row">
            <select name='location'>
                <option value="">장소를 선택하세요</option>
                <option value="강남구 역삼1동">강남구 역삼1동</option>
                <option value="강남구 역삼2동">강남구 역삼2동</option>
            </select>

            <select name='job_type'>
                <option value="">업직종을 선택하세요</option>
                <option value="매장관리">매장관리</option>
                <option value="서비스">서비스</option>
            </select>

            <button type="submit" id="form-submit" class="btn">Search Now</button>
        </div>
    </form>
</div>

{% for blog in blogs.all %}
    <div class="container">
        <div class="card" style="padding:7px" >
            <div class="card-body">
            <a href="{% url 'detail' blog.id %}"> <h5 class="card-title">{{blog.title}}</h5></a>
            <h6 class="card-text">{{blog.area}}</h6>
            <h6 class="card-text">{{blog.job_type}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.author}}  -  {{blog.pub_date}}</h6>
            <p class="card-text">{{blog.body}}</p>
            </div>
        </div>
    </div>
<br>
{% endfor %}
</body>
{% endblock %}