{% extends 'base.html' %}
{% block contents %}
<br>
<div class="jumbotron" style="padding-top:100px;" >
<h1  class="card-header" style=" color: black"> 수정 페이지 입니다 </h1>

<div class="container">
<form action="{% url 'edit' updates.id%}" method="POST" >
{% csrf_token %}
 <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">제목</label>
    <input  class="form-control form-control-lg" type="text" id="inputLarge" name="title"type="text" value={{updates.title}} required>
</div>
    <br>
    <br>
    <div class="card">
            <label class="col-form-label col-form-label-lg" for="inputLarge" style="margin-left:20px;">  모집부문</label>
            <div class="card-body">
            <label for="exampleSelect1">업직종 선택:</label>
    <select type="text" class="custom-select" name="job" value={{updates.job_type}} required>
    <option value="매장관리">매장관리</option>
    <option value="서빙·주방">서빙·주방</option>
    <option value="서비스">서비스</option>
    <option value="생산·기능">생산·기능</option>
    <option value="사무·회계">사무·회계</option>
    <option value="IT·디자인">IT·디자인</option>
    <option value="상담·영업">상담·영업</option>
    <option value="강사·교육">강사·교육</option>
    </select>
    </div>
    </div>
    <br>
    <br>
    <div class="card">
            <label class="col-form-label col-form-label-lg" for="inputLarge"  style="margin-left:20px;">  모집조건</label>
    <br>
    <div class="card-body">
        <label for="exampleSelect1">성별:</label>
    <select class="form-control" id="exampleSelect1" name="gender" value={{updates.gender}} required>
    <option value="남성">무관</option>
    <option value="남성">남성</option>
    <option value="여성">여성</option>
    </select>
    <br>
    <br>
    <label class="col-form-label" for="inputDefault">연령:</label>
    <input type="text" name="age" value={{updates.age}} required>
    <br>
    <br>
    <label for="edu">학력: </label>
    <select type="text" name="edu" class="form-control" id="exampleSelect1" value={{updates.edu}} required>
        <option value="학력무관">학력무관</option>
        <option value="중학교 졸업 이상">중학교 졸업 이상</option>
        <option value="고등학교 졸업 이상">고등학교 졸업 이상</option>
        <option value="대학교 졸업 이상">대학교 졸업 이상</option>
        <option value="대학교(4년)졸업 이상">대학교(4년)졸업 이상</option>
    </select>
    <br>
    <br>
    <label class="col-form-label" for="inputDefault">필요조건:</label>
    <input type="text" class="form-control" name="condition" id="inputDefault" value={{updates.condition}} required>
    <br>
    <br>   
</div>
</div>
<br>
<br>
<div class="card">
<label class="col-form-label col-form-label-lg" for="inputLarge"  style="margin-left:20px;">근무조건</label>
<br>
<div class="card-body">
        <label class="col-form-label" for="inputDefault">급여:</label>
    <input type="text" class="form-control"  id="inputDefault"name="pay" value={{updates.pay}} required>
    <br>
    <br>
    <label class="col-form-label" for="inputDefault">근무 요일:</label>
    <div><input type="date" class=" form-control" id="userdate" name="userdate1" value={{updates.userdate1}} required> ~ <input type="date" class=" form-control"id="userdate" name="userdate2" value={{updates.userdate2}} required></div>
    <br>
    <label class="col-form-label" for="inputDefault">근무 시간:</label>
    <div><input type="time" class=" form-control" name="time1" value={{updates.time1}} required>~<input type="time" class=" form-control" name="time2" value={{updates.time2}} required></div>
</div>
</div>
    <br>
    <div class="card">        
            <label class="col-form-label col-form-label-lg" for="inputLarge"  style="margin-left:20px;">모집부문</label>
            <div class="card-body">
                    <label for="exampleSelect1">근무지역 선택:</label>
    <select class="custom-select" type="text" name="place" value={{updates.area}} required>
    <option value="개포동">개포동</option>
    <option value="개포1동">개포1동</option>
    <option value="개포2동">개포2동</option>
    <option value="개포4동">개포4동</option>
    <option value="논현동">논현동</option>
    <option value="논현1동">논현1동</option>
    <option value="논현2동">논현2동</option>
    <option value="대치동">대치동</option>
    <option value="대치1동">대치1동</option>
    <option value="대치2동">대치2동</option>
    <option value="대치4동">대치4동</option>
    <option value="도곡동">도곡동</option>
    <option value="도곡1동">도곡1동</option>
    <option value="도곡2동">도곡2동</option>
    <option value="삼성동">삼성동</option>
    <option value="삼성1동">삼성1동</option>
    <option value="삼성2동">삼성2동</option>
    <option value="세곡동">세곡동</option>
    <option value="수서동">수서동</option>
    <option value="신사동">신사동</option>
    <option value="압구정동">압구정동</option>
    <option value="역삼동">역삼동</option>
    <option value="역삼1동">역삼1동</option>
    <option value="역삼2동">역삼2동</option>
    <option value="율현동">율현동</option>
    <option value="일원동">일원동</option>
    <option value="일원1동">일원1동</option>
    <option value="일원2동">일원2동</option>
    <option value="일원본동">일원본동</option>
    <option value="자곡동">자곡동</option>
    <option value="청담동">청담동</option>
    </select>
    <br>
    <br>
    <label for="exampleSelect1">우대사항 선택:</label>
    <select type="text" class="custom-select" name="plus" value={{updates.plus}} required>
    <option value="영어가능">영어가능</option>
    <option value="일본어가능">일본어가능</option>
    <option value="중국어가능">중국어가능</option>
    <option value="컴퓨터활용가능">컴퓨터활용가능</option>
    <option value="포토샵가능">포토샵가능</option>
    <option value="한글(HWP)가능">한글(HWP)가능</option>
    <option value="워드가능">워드가능</option>
    <option value="엑셀가능">엑셀가능</option>
    <option value="파워포인트가능">파워포인트가능</option>
    <option value="유사업무경험자">유사업무경험자</option>
    <option value="인근거주">인근거주</option>
    <option value="운전가능">운전가능</option>
    <option value="업무관련자격증">업무관련자격증</option>
    </select>
    <br>
    <br>
</div>
</div>
<br>
<br>

<div class="card">
<label class="col-form-label col-form-label-lg" for="inputLarge" style="margin-left:20px;">연락처</label>
<br>
<div class="card-body">
        <label class="col-form-label" for="inputDefault">이메일:</label>
    <input type="text" class="form-control" id="inputDefault"name="email" value={{updates.email}} required>
    <br>
    <br>
    <label class="col-form-label" for="inputDefault">개인 연락처:</label>
    <input type="text" class="form-control" id="inputDefault" name="call" value={{updates.call}} required>
    <br>
    <br> 
    <label for="exampleTextarea">모집마감일</label>
    <input type="datetime-local" class="form-control" type="datetime-local" name="enddate" value={{updates.enddate}} required> 
    <br>
    <br>
    <label for="exampleTextarea">기타사항</label>
    <textarea class="form-control" name="etc" id="exampleTextarea"  value={{updates.etc}} rows="3"></textarea>
</div>
</div>
<br>
<br>
<input class="btn btn-primary" type="submit" value="제출하기">
</form>
</div>
</div>
{%endblock%}